/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

body, html{
width: 100%;
height: 100%;
margin: 0;
padding:0;
/* overflow-y: hidden;
overflow-x: hidden; */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button{
  padding: 5%;
  border-radius: 8px;
  border-style: none;
  outline-style: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  background-color:transparent;
  cursor: pointer;
}

#get-file, #form-submit{
  display: none;
}

.file{
  padding: 8px;
  background-color: grey;
}


.submit{
  background-color: green;
  color: azure;
}

.error{
  font-weight: bold;
  /* background-color: rgba(255, 0, 0, 0.691); */
  color: rgb(255, 0, 0);
}

.yes{
  font-weight: bold;
  background-color: rgb(4, 153, 4);
  color:white;
}

.file-success{
  font-weight: normal;
  background-color: rgba(5, 185, 5, 0.472);
  color: black;
}

.popup{
  position: absolute;
  font-family: 'Poppins', sans-serif;
  color: white;
  /* position: absolute; */
  padding: 1%;
  border-radius: 25px;  
  background-color:rgb(32, 15, 143);
  z-index: 7;
  -webkit-animation: puff-in-center 0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  animation: puff-in-center 0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

 @-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}




.popup-wrapper{
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.472);
}




.main-page-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: antiquewhite;
  /* width: 100vw; */
}

.flex-container{
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  border-radius: 30px;
  /* padding: 70px 0; */
  height: 60vh;
  width: 50%; 
  background-color: whitesmoke;
  box-shadow: 12px 12px 8px 1px rgba(61, 61, 61, 0.37);
}

.title{
  font-family: 'Poppins', sans-serif;
}

.main-image-container img{
  border-radius: 25px;
  z-index: 1;
  width: 25vw;
  height: 35vh;
  object-fit: cover;
}

.main-image-container{
  /* position: relative; */
  z-index: 0;
  margin-left: 8vw;
}

.form-group input{
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: solid;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.inputError{
  border-bottom: solid red !important;
}

.form-group, .form-title{
  margin-top: 15%;
  z-index: 5;
}

.form-main-container{
  z-index: 5;
  margin-left: 8%;
}


