/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

body, html{
width: 100%;
height: 100%;
margin: 0;
padding:0;
/* overflow-y: hidden;
overflow-x: hidden; */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button{
  padding: 5%;
  border-radius: 8px;
  border-style: none;
  outline-style: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  background-color:transparent;
  cursor: pointer;
  box-shadow: -2px 2px 5px rgba(168, 8, 8, 0.336);
}

#get-file, #form-submit{
  display: none;
}

.file{
  padding: 8px;
  background-color: grey;
}


.submit{
  background-color: green;
  color: azure;
}

.error{
  font-weight: bold;
  /* background-color: rgba(255, 0, 0, 0.691); */
  color: rgb(255, 0, 0);
}

.yes{
  font-weight: bold;
  background-color: rgb(0, 255, 0);
  color:black;
}

.no{
  margin-left: 2%;
  background-color: red;
  color: white;
}

.file-success{
  font-weight: normal;
  background-color: rgba(5, 185, 5, 0.472);
  color: black;
}

.fail{
  background-color: red;
  color: black;
  font-weight: bold;
}

.nav-bar{
  position: relative;
  background-color: rgb(72, 156, 16);
  margin: 0;
  padding: 1em;
  border-radius: 2%;
  box-shadow: 0px 2px 12px 1px black;
}
.nav-bar h2{
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

.nav-bar h2:last-of-type{
  position: absolute;
  top: 0;
  padding: inherit;
  right: 2em;
}

.popup{
  position: relative;
  font-family: 'Poppins', sans-serif;
  color: white;
  /* position: absolute; */
  padding: 2%;
  border-radius: 25px;  
  background-color:rgb(32, 15, 143);
  z-index: 7;
  -webkit-animation: puff-in-center 0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  animation: puff-in-center 0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

#popup-image{
  width: 10em;
}

.in-popup{
  margin-top: 5% !important;
}

 @-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


.id-card{
  position: relative;
  width: 20%;
  height: 15%;
  padding: 3%;
}


.popup-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
  /* overflow-x: hidden; */
  background-color: rgba(0, 0, 0, 0.472);
}




.main-page-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: antiquewhite;
  /* width: 100vw; */
}

.flex-container{
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  border-radius: 30px;
  /* padding: 70px 0; */
  height: 64vh;
  width: 50%; 
  background-color: whitesmoke;
  box-shadow: 12px 12px 8px 1px rgba(61, 61, 61, 0.37);
}

.title{
  font-family: 'Poppins', sans-serif;
}

.main-image-container img{
  border-radius: 25px;
  z-index: 1;
  width: 25vw;
  height: 35vh;
  object-fit: cover;
  box-shadow: -5px 4px 15px grey;
}

.main-image-container{
  /* position: relative; */
  z-index: 0;
  margin-left: 8vw;
}

.form-group input{
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: solid;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}


.inputError{
  border-bottom: solid red !important;
}

.form-group, .form-title{
  margin-top: 15%;
  z-index: 5;
}

.form-group:last-of-type{
  margin-top: 10%;
}

.form-group:last-of-type small{
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

.label-group{
  position: relative;
}

.label-group h2{
  /* display: block; */
  position: absolute;
  left: -15%;
  margin: 0;
  /* padding: 15px; */
}

.form-main-container{
  z-index: 5;
  margin-left: 8%;
}

/* For Food menu */



.menu-wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  margin-top: 1em;
}

.breakfast{
  position: relative;
  margin: 0em 3em 0 10em;
  display: flex;
  flex-direction: row;
  align-items: center;
}



.breakfast h3{
  z-index: 7;
  position: absolute;
  left: -10%;
  font-family: 'Poppins', sans-serif;
}

.lunch{
  margin-top: 5em;
}

.breakfast-ingroup{
  position: relative;
  margin: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}


.breakfast-ingroup img{
  margin: 2px;
  width: 12em;
  height: 12em;
  border-radius: 50%;
  object-fit: cover;
}


.meals-ingroup-rate{
  /* background-color: aqua; */
  position: absolute;
  text-align: center;
  bottom: -4em;
  font-family: 'Poppins', sans-serif;
}
